<div class="w-full px-8 flex flex-col gap-8">
  <!-- first div -->
  <div>
    <h1 class="text-xl md:text-3xl text-blue-900 text-center w-full">
      Latest News and Resources
    </h1>
    <p class="text-center w-full text-gray-400">
      See the developments that have occurred two skillins in the world
    </p>
  </div>

  <!-- second div -->
  <div
    class="flex flex-col lg:flex-row md:gap-8 gap-12 justify-center items-center w-full"
  >
    <!-- bottom first div -->
    <div class="w-full h-full">
      <div class="flex flex-row gap-4 lg:flex-col">
        <div class="w-full h-full max-w-[100%]">
          <img
            src="https://placehold.co/600x400"
            alt=""
            class="object-contain"
          />
        </div>
        <div class="">
          <button
            class="bg-yellow-500 my-4 w-16 h-6 md:w-24 md:h-8 rounded-full"
          >
            News
          </button>
          <h2 class="text-lg">
            Class adds $30 million to its balance sheet for a zoom friendly
            edtech solutions
          </h2>
          <p class="w-full my-4 text-gray-400">
            class, lunch day less than a year ago by blackboard co founder
            micheal johnson integrates exclusively
          </p>
          <a href="#" class="text-gray-700 underline">Read More</a>
        </div>
      </div>
    </div>
    <!-- bottom second div -->
    <div class="w-full h-full">
      <div class="card w-full mb-8 flex gap-8">
        <div class="w-[35%] relative">
          <div class="w-full rounded-lg relative">
            <img
              src="https://placehold.co/600x400"
              alt=""
              class="object-contain rounded-lg"
            />
            <button
              class="bg-yellow-500 absolute bottom-[8%] right-[5%] w-32 md:h-8 rounded-full"
            >
              Press Release
            </button>
          </div>
        </div>

        <div class="w-[60%]">
          <h2 class="text-lg">
            Class adds $30 million to its balance sheet for a zoom friendly
            edtech solutions
          </h2>
          <p class="w-full my-4 text-gray-400">
            class, lunch day less than a year ago by blackboard co founder
            micheal johnson integrates exclusively
          </p>
        </div>
      </div>
      <div class="card w-full mb-8 flex gap-8">
        <div class="w-[35%] relative">
          <div class="w-full rounded-lg relative">
            <img
              src="https://placehold.co/600x400"
              alt=""
              class="object-contain rounded-lg"
            />
            <button
              class="bg-yellow-500 absolute bottom-[8%] right-[5%] w-32 md:h-8 rounded-full"
            >
              Press Release
            </button>
          </div>
        </div>

        <div class="w-[60%]">
          <h2 class="text-lg">
            Class adds $30 million to its balance sheet for a zoom friendly
            edtech solutions
          </h2>
          <p class="w-full my-4 text-gray-400">
            class, lunch day less than a year ago by blackboard co founder
            micheal johnson integrates exclusively
          </p>
        </div>
      </div>
      <div class="card w-full mb-8 flex gap-8">
        <div class="w-[35%] relative">
          <div class="w-full rounded-lg relative">
            <img
              src="https://placehold.co/600x400"
              alt=""
              class="object-contain rounded-lg"
            />
            <button
              class="bg-yellow-500 absolute bottom-[8%] right-[5%] w-32 md:h-8 rounded-full"
            >
              Press Release
            </button>
          </div>
        </div>

        <div class="w-[60%]">
          <h2 class="text-lg">
            Class adds $30 million to its balance sheet for a zoom friendly
            edtech solutions
          </h2>
          <p class="w-full my-4 text-gray-400">
            class, lunch day less than a year ago by blackboard co founder
            micheal johnson integrates exclusively
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
